.heading
{
  width:100%;
  text-align:left;
  position:fixed;
  top:0px;
  z-index:999;
}

.heading h3
{
  display:inline;
}

.heading button
{
  float:right;
  border:2px solid rgb(212, 42, 30);
}

.big_image
{
    width:100%;
}

#status,#start
{
    font-size:22px;
}

h4
{
    background-color: aliceblue;
    line-height:2;
    margin:0px;
}

.modal-dialog
{
  width:90%;
}

.image
{
  display:inline-block;
  width:45%;
}

video
{
  background:url("game_console.png");
  background-size:cover;
  padding:25px;
  background-position:center;
}